[submodule "dep/libusby"]
	path = dep/libusby
	url = https://github.com/avakar/libusby
[submodule "dep/libenjoy"]
	path = dep/libenjoy
	url = https://github.com/Tasssadar/libenjoy
[submodule "dep/libyb"]
	path = dep/libyb
	url = https://github.com/avakar/libyb
