#
# NOTE! Don't add files that are generated in specific
# subdirectories here. Add them in the ".gitignore" file
# in that subdirectory instead.
#
# NOTE! Please use 'git-ls-files -i --exclude-standard'
# command after changing this file, to see if there are
# any tracked files which get ignored after the change.
#
# Normal rules
#
.*
*.o
*.o.*
*.a
*.so
*.so.dbg
*.bin
*.gz
*.pro.user*
*.Release
*.Debug

#
# Top-level generic files
#
tags
TAGS
INSTALL
!.gitignore
Makefile
Makefile.*
config.pri

# Git stuff
#
# stgit directories
patches-*

#
# binaries output
#
bin/*
moc/*
obj/*
Win32/*

# OS specific
# Windows
*.pdb
*.vcxproj*
*.sln
*.suo
*.aps
*.sdf
*.opensdf
object_script.Lorris.*
# MacOS
.DS_Store

#
# Special exceptions
#
moc_*.cpp
ui_*.h
qrc_*.cpp

dep/qwt/src/debug/
dep/qwt/src/release/
dep/qwt/lib/
src/ipch/
src/pch.h.cpp
dep/qscintilla2/lib/qscintilla2_lorrisd.dll
